html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    opacity: 70%;
    cursor: pointer;
}

h1,h2 {
    margin: 0;
}

p {
    margin: 0 0 1em 0;
    opacity: 90%;
}

body {
    line-height: 1.5;
    background-color: #D9D5DD;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    transition: all 0.5s;
    font-family: Calibri, sans-serif;
}

nav {
    color: #F7F7F7;
    background: none;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

#logo {
    padding: 0.25em;
}

.visibleNav {
    background-color: #0C081C;
    transition: ease-out 0.1s;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    gap: 1em;
}

nav img {
    width: 3em;
    height: 3em;
    visibility: hidden;
}

header {
    width: 100%;
    height: 500px;
    background-image: url("assets/COMPASS Banner.webp");
    background-size: cover;
    background-position: center;
    transition: all 0.3s;
}

header:hover {
    filter: hue-rotate(90deg);
    transition: filter 0.3s;
}  

main {
    padding-top: 2rem;
    margin: 0 15%;
}

main img {
    width: 70vw;
    height: auto;
    border-radius: 1em;
}

#visionAndMission {
    display: flex;
    gap: 1rem;
}

.visionAndMission {
    flex:1
}

#missionVisionImage {
    width: 70vw;
    height: auto;
    border-radius: 1em;
}

#joinButton {
    display: block;
    width: 60%;
    margin: 1em auto;
    padding: 10px 20px;
    background: linear-gradient(45deg, #0C081C, #2B295A, #0C081C);
    color: #F7F7F7;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#joinButton:hover {
    background: linear-gradient(45deg, #FF5733, #F7F7F7, #FF5733);
    color: #0c081c;
}


footer {
    font-size: 80%;
    color: #F7F7F7;
    width: 100%;
    height: auto;
    background-color: #0C081C;
    text-align: center;
}

#links {
    display: flex;
}
footer ul {
    padding-inline-start: 0;
    list-style: none;
    flex: 1;
}

footer a {
    opacity: 80%;
}

footer p {
    margin: 0.2em;
}

footer h3{
    margin: 0.5em 0 1em 0;
}

@media (max-width: 575px) {
    h1, h2 {
        margin: 0.5em 0;
    }
    #aboutImage {
        margin-bottom: 2em;
    }
    body {
        font-size: 14px;
        line-height: 1.4;
    }
    header {
        height: 250px;
    }
    main {
        padding-top: 1em;
    }
    #visionAndMission {
        flex-direction: column;
        gap: 0;
    }
    #missionVisionImage {
        margin-bottom: 1em;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    h1, h2 {
        margin: 0.25em 0;
    }
    #aboutImage {
        margin-bottom: 1em;
    }
    body {
        font-size: 16px;
        line-height: 1.45;
    }
    header {
        height: 350px;
    }
    main {
        padding-top: 1.5rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 18px;
        line-height: 1.5;
    }
    header {
        height: 450px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 20px;
        line-height: 1.55;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 22px;
        line-height: 1.6;
    }
}